robot_control/Temp/**
robot_control/Binaries/**
robot_control/Diagnosis/**
robot_control/Logical/Visualization/HTML/bower_components/**
robot_control/Logical/Visualization/HTML/node_modules/**
robot_control/Logical/Visualization/HTML/.sass-cache/**
robot_control/Logical/Visualization/HTML/.tmp/**
robot_control/Logical/Visualization/HTML/struct/bower_components/**
robot_control/Logical/Visualization/HTML/struct/node_modules/**
robot_control/Logical/Visualization/HTML/struct/dist/**
robot_control/Logical/Visualization/HTML/struct/.sass-cache/**
robot_control/Logical/Visualization/HTML/struct/.tmp/**
robot_control/Logical/Visualization/build.typ
*.orig
*.set
*.isopen
robot_control/Logical/Revision.var
robot_control/Logical/Visualization/visServ/build.typ
robot_control/Logical/Programs/FileHandling/MachineConfiguration/machineConfiguration/build.typ
